@charset "UTF-8";
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto !important;
  max-width: 1440px; }

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

main {
  margin: 2.5em;
  max-width: 1240px;
  width: 100%; }

.main-container {
  margin: 1em; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: auto 6em;
  width: 83%; }
  .header-container .header-logo {
    color: #ff6060;
    font-size: 65px; }
    .header-container .header-logo img {
      width: 44px;
      height: 42px;
      position: relative;
      top: 3.5px; }
  .header-container ul {
    display: flex;
    list-style: none;
    gap: 2em;
    color: black;
    font-size: 24px; }
    .header-container ul a {
      text-decoration: none;
      color: #000; }
      .header-container ul a.active {
        text-decoration: underline; }
    .header-container ul li {
      cursor: pointer;
      text-decoration: none; }
      .header-container ul li:hover {
        text-decoration: underline;
        margin: 0;
        padding: 0; }

.img-overlay {
  width: 100%;
  height: 226px;
  background-color: #000;
  border-radius: 25px;
  position: relative;
  z-index: 20;
  opacity: 1;
  margin: 2em auto; }
  .img-overlay img {
    width: 100%; }

.img-text {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 1; }

.img-home {
  object-fit: cover;
  height: 226px;
  width: 1240px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: relative;
  opacity: 0.6;
  z-index: -10; }

.content-wrapper {
  display: flex;
  flex-direction: column; }

.top-wrapper {
  display: flex;
  justify-content: space-between; }
  .top-wrapper .top-description {
    display: flex;
    flex-direction: column;
    gap: 1em; }
  .top-wrapper .top-host__container {
    display: flex;
    flex-direction: column; }
    .top-wrapper .top-host__container .top-host__top {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .top-wrapper .top-host__container .log-host {
      object-fit: cover;
      border-radius: 100px;
      width: 64px;
      height: 64px; }

.log-title {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px; }

.log-location {
  font-weight: 500;
  font-size: 18px; }

.log-host-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 22px;
  margin-right: 1em; }

.log-rating__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 1em; }
  .log-rating__wrapper .clr-on {
    color: #ff6060;
    font-size: 26px; }
  .log-rating__wrapper .clr-off {
    color: #e3e3e3;
    font-size: 26px; }

.log-tags__wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem; }
  .log-tags__wrapper .log-tag {
    background-color: #ff6060;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    margin-right: 1rem; }

.img-logement {
  object-fit: cover; }

.cards-bg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f2f2f2;
  border-radius: 25px;
  margin: 43px auto 50px; }

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 50px 60px;
  margin: 56px 28px; }
  .cards-wrapper a {
    text-decoration: none;
    color: #000; }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 100%; }
  .cards .cards-title {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0; }
  .cards .cards-cover {
    object-fit: cover;
    width: 100%;
    height: auto;
    flex-grow: 1;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040; }

.collapse-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5em; }
  .collapse-logement .collapse-wrapper {
    width: 100%; }

.collapse-about {
  display: flex;
  flex-direction: column;
  gap: 2em; }
  .collapse-about .about-bg {
    height: 100%; }

.about-wrapper {
  margin: 0 1em;
  margin-bottom: -3em; }

.collapse {
  padding: 1rem;
  background-color: #ff6060;
  border-radius: 10px;
  margin-top: 1rem; }
  .collapse p {
    color: #fff;
    font-weight: 700;
    font-size: 24px; }
  .collapse i {
    color: #fff;
    font-size: 24px; }

.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px; }
  .collapse-title .fa-solid {
    transition: transform 0.3s ease; }
    .collapse-title .fa-solid.fa-chevron-up {
      transform: rotate(0deg); }
    .collapse-title .fa-solid.fa-chevron-down {
      transform: rotate(360deg); }

.log-collapse {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* Nombre de lignes après lesquelles tronquer le texte */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.collapse-bg {
  color: #000;
  background-color: #f6f6f6;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  border-radius: 0 0 5px 5px;
  height: 214px; }
  .collapse-bg .collapse-content {
    padding: 1rem; }

.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .slideshow-container .slideshow-img {
    width: 100%;
    max-width: 1240px;
    height: 435px;
    object-fit: cover;
    border-radius: 25px; }
  .slideshow-container .fa-chevron-left,
  .slideshow-container .fa-chevron-right {
    position: absolute;
    font-size: 62px;
    color: #fff;
    cursor: pointer; }
  .slideshow-container .fa-chevron-left {
    left: 42px;
    top: 170px; }
  .slideshow-container .fa-chevron-right {
    right: 42px;
    top: 170px; }
  .slideshow-container .slideshow-index {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 48px;
    color: #fff;
    font-weight: 500;
    font-size: 22px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  color: #fff;
  background-color: #000;
  height: 228px;
  width: 100%; }
  .footer .footer-logo {
    font-size: 45px; }
    .footer .footer-logo img {
      height: 25px;
      width: 25px;
      position: relative;
      top: 3px;
      filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(253deg) brightness(200%) contrast(106%); }
  .footer .copyright {
    font-size: 20px;
    margin-top: 4rem; }
