.header-container {
  margin: auto 4em; }

@media screen and (max-width: 1024px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 100px;
    margin: 36px 28px; } }

.cards .cards-title {
  font-size: 16px;
  width: 90%; }

@media screen and (max-width: 768px) {
  main {
    margin: 1.5em; }
  .header-container {
    margin: auto 3em; }
  .img-text {
    font-size: 28px;
    width: 71%; }
  .slideshow-container .slideshow-img {
    height: 314px; }
  .cards-wrapper {
    display: flex;
    flex-direction: column; }
  .cards .cards-cover {
    width: 100%; }
  .header-container nav ul {
    font-size: 18px; }
  .header-container .header-logo {
    font-size: 47px; } }
  @media screen and (max-width: 768px) and (max-width: 928px) {
    .header-container .header-logo .cards-wrapper {
      margin-left: 0; } }

@media screen and (max-width: 768px) {
  .header-container .fa-chevron-left,
  .header-container .fa-chevron-right {
    font-size: 28px;
    top: 128px; }
  .collapse-bg {
    height: 178px; }
  .collapse-about {
    gap: 2em; }
  .img-overlay {
    height: 200px;
    border-radius: 25px; }
    .img-overlay img {
      height: 200px; }
  .top-wrapper {
    flex-direction: column; }
  .top-host__container {
    width: 100%;
    flex-direction: row-reverse !important;
    justify-content: space-between; }
  .collapse-title {
    font-size: 20 px; }
  .collapse-logement {
    gap: 0;
    flex-direction: column; }
  .log-title {
    font-size: 28px; }
  .log-location {
    font-size: 16px; }
  .log-tags__wrapper .log-tag {
    font-size: 14px; }
  .log-host-name {
    font-size: 18px; }
  .log-rating__wrapper .clr-on,
  .log-rating__wrapper .clr-off {
    font-size: 18px; } }

@media screen and (max-width: 425px) {
  .about-wrapper {
    margin: 0 1em;
    margin-bottom: 0; }
  .img-overlay {
    height: 150px; }
    .img-overlay img {
      height: 150px; }
  .log-host-name {
    margin-left: 3em; }
  .log-rating__wrapper {
    gap: 0.7em; }
  .cards-bg {
    background-color: #fff;
    padding: 0; } }
