@media screen and (max-width: 1178px) {
  main {
    margin: 2.5em; }
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 2rem;
    margin-left: 2em; }
    .cards-wrapper a {
      width: 72%; }
  .header-container {
    margin: auto 2em; } }

@media screen and (max-width: 898px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    padding: 0;
    margin-left: 2em; } }

@media screen and (max-width: 839px) {
  .cards .cards-cover {
    width: 286px;
    height: 312px; }
  .cards .cards-title {
    font-size: 20px;
    height: 92%; } }

@media screen and (max-width: 768px) {
  main {
    margin: 1.5em; }
  .img-text {
    font-size: 28px;
    width: 71%; }
  .slideshow-container .slideshow-img {
    height: 314px; }
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-left: 3.5em; }
    .cards-wrapper a {
      width: 47%; }
  .cards .cards-cover {
    width: 85%; }
  .header-container nav ul {
    font-size: 18px; }
  .header-container .header-logo {
    font-size: 47px; } }
  @media screen and (max-width: 768px) and (max-width: 928px) {
    .header-container .header-logo .cards-wrapper {
      margin-left: 0; } }

@media screen and (max-width: 768px) {
  .header-container .fa-chevron-left,
  .header-container .fa-chevron-right {
    font-size: 28px;
    top: 128px; }
  .collapse-bg {
    height: 178px; }
  .collapse-about {
    gap: 2em; }
  .img-overlay {
    height: 200px;
    border-radius: 25px; }
    .img-overlay img {
      height: 200px; }
  .top-wrapper {
    flex-direction: column; }
  .top-host__container {
    width: 100%;
    flex-direction: row-reverse !important;
    justify-content: space-between; }
  .collapse-title {
    font-size: 20 px; }
  .collapse-logement {
    gap: 0;
    flex-direction: column; }
  .log-title {
    font-size: 28px; }
  .log-location {
    font-size: 16px; }
  .log-tags__wrapper .log-tag {
    font-size: 14px; }
  .log-host-name {
    font-size: 18px; }
  .log-rating__wrapper .clr-on,
  .log-rating__wrapper .clr-off {
    font-size: 18px; } }

@media screen and (max-width: 702px) {
  .cards-wrapper {
    margin-left: 2.5em; } }

@media screen and (max-width: 530px) {
  .cards-wrapper {
    margin-left: 2em; } }

@media screen and (max-width: 425px) {
  .log-host-name {
    margin-left: 2em; }
  .log-rating__wrapper {
    gap: 0.7em; }
  .cards-bg {
    background-color: #fff; }
    .cards-bg .cards-wrapper {
      gap: 0;
      margin-left: 3em; }
  .cards .cards-cover {
    width: 289px;
    height: 289px; }
  .cards .cards-title {
    height: 83%; } }

@media screen and (max-width: 375px) {
  .cards-bg .cards-wrapper {
    margin-left: 1.4em; } }
