body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  max-width: 1440px;
}

main {
  margin: auto;
  max-width: 1240px;
  height: 100vh;
}

// Header

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .header-logo {
    color: #ff6060;
    font-size: 65px;

    img {
      width: 44px;
      height: 42px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    gap: 2em;
    color: black;
    font-size: 24px;

    a {
      text-decoration: none;
      color: #000;

      &.active {
        text-decoration: underline;
      }
    }

    li {
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.placeholder {
  height: 1000px;
  width: 1240px;
}

// Image Home

.img-overlay {
  width: 1240px;
  height: 226px;
  background-color: #000;
  border-radius: 25px;
  position: relative;
  z-index: 20;
  opacity: 1;
}

.img-text {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  position: absolute;
  left: 28%;
  top: 45%;
  z-index: 5;
  opacity: 1;
}

.img-home {
  object-fit: cover;
  height: 226px;
  width: 1240px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: relative;
  opacity: 0.6;
  z-index: -10;
}

// Image logement

.img-logement {
  object-fit: cover;
}

// Cards

.cards-bg {
  background-color: #f2f2f2;
  padding: 2rem 0;
  margin-top: 2em;
  border-radius: 25px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.cards {
  padding: 1rem;
  width: 340px;
  height: 340px;

  .cards-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    width: 65%;
    z-index: 2;
    position: relative;
  }

  .cards-cover {
    object-fit: cover;
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

// Collapse component

.collapse {
  padding: 1rem;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 15px;
  margin-top: 1rem;

  p {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
  }

  i {
    color: #fff;
    font-size: 24px;
  }
}

// Footer

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: #000;
  height: 209px;

  .footer-logo {
    font-size: 45px;

    img {
      height: 25px;
      width: 25px;
      filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(253deg)
        brightness(200%) contrast(106%);
    }
  }

  .copyright {
    font-size: 20px;
    margin-top: 4rem;
  }
}
