body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  max-width: 1440px;
}

* {
  border: 1px solid red !important;
}

main {
  margin: auto;
  max-width: 1240px;
}

// Header

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: auto 6em;

  .header-logo {
    color: #ff6060;
    font-size: 65px;

    img {
      width: 44px;
      height: 42px;
      position: relative;
      top: 3.5px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    gap: 2em;
    color: black;
    font-size: 24px;

    a {
      text-decoration: none;
      color: #000;

      &.active {
        text-decoration: underline;
      }
    }

    li {
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        margin: 0;
        padding: 0;
      }
    }
  }
}

// Image Home

.img-overlay {
  width: 100%;
  height: 226px;
  background-color: #000;
  border-radius: 25px;
  position: relative;
  z-index: 20;
  opacity: 1;
  margin: 2em auto;

  img {
    width: 100%;
  }
}

.img-text {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  position: absolute;
  left: 28%;
  top: 45%;
  z-index: 5;
  opacity: 1;
}

.img-home {
  object-fit: cover;
  height: 226px;
  width: 1240px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: relative;
  opacity: 0.6;
  z-index: -10;
}

// Logement

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;

  .top-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .top-host__container {
    display: flex;
    flex-direction: column;

    .top-host__top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .log-host {
      object-fit: cover;
      border-radius: 100px;
      width: 64px;
      height: 64px;
    }
  }
}

.log-title {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}

.log-location {
  font-weight: 500;
  font-size: 18px;
}

.log-host-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 22px;
  margin-right: 1em;
}

.log-rating__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 1em;

  .clr-on {
    color: #ff6060;
    font-size: 26px;
  }

  .clr-off {
    color: #e3e3e3;
    font-size: 26px;
  }
}

.log-tags__wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  .log-tag {
    background-color: #ff6060;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
  }
}

// Image logement

.img-logement {
  object-fit: cover;
}

// Cards

.cards-bg {
  background-color: #f2f2f2;
  padding: 2rem 0;
  border-radius: 25px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 1.7em;

  a {
    text-decoration: none;
    color: #000;
  }
}

.cards {
  padding: 1rem;
  width: 340px;
  height: 340px;

  .cards-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    width: 65%;
    z-index: 2;
    position: relative;
  }

  .cards-cover {
    object-fit: cover;
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

// Collapse component
// Container inside the logement page
.collapse-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5em;

  .collapse-wrapper {
    width: 100%;
  }
}

.collapse-about {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.collapse {
  padding: 1rem;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  margin-top: 1rem;

  p {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
  }

  i {
    color: #fff;
    font-size: 24px;
  }
}
.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  .fa-solid {
    transition: transform 0.3s ease;

    &.fa-chevron-up {
      transform: rotate(0deg);
    }

    &.fa-chevron-down {
      transform: rotate(360deg);
    }
  }
}

.collapse-bg {
  color: #000;
  background-color: rgb(246, 246, 246);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  border-radius: 0 0 5px 5px;

  .collapse-content {
    padding: 1rem;
  }
}

// Slideshow

.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .slideshow-img {
    width: 100%;
    max-width: 1240px;
    height: 435px;
    object-fit: cover;
    border-radius: 25px;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    position: absolute;
    font-size: 62px;
    color: #fff;
    cursor: pointer;
  }

  .fa-chevron-left {
    left: 42px;
    top: 170px;
  }

  .fa-chevron-right {
    right: 42px;
    top: 170px;
  }

  .slideshow-index {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 48px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
  }
}

// Footer

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  color: #fff;
  background-color: #000;
  height: 209px;

  .footer-logo {
    font-size: 45px;

    img {
      height: 25px;
      width: 25px;
      position: relative;
      top: 3px;
      filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(253deg)
        brightness(200%) contrast(106%);
    }
  }

  .copyright {
    font-size: 20px;
    margin-top: 4rem;
  }
}
