@media screen and (max-width: 1178px) {
  main {
    margin: 2.5em;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 2rem;
    margin-left: 2em;

    a {
      width: 72%;
    }
  }

  .img-text {
    left: 25%;
  }
  .header-container {
    margin: auto 2em;
  }
}

@media screen and (max-width: 1024px) {
  .img-text {
    left: 23%;
  }
}

@media screen and (max-width: 898px) {
  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    padding: 0;
    margin-left: 2em;
  }
  .img-text {
    left: 19%;
  }
}

@media screen and (max-width: 839px) {
  .cards {
    .cards-cover {
      width: 286px;
      height: 312px;
    }
    .cards-title {
      font-size: 20px;
      height: 92%;
    }
  }
}

@media screen and (max-width: 839px) {
  .img-text {
    left: 16%;
  }
}

@media screen and (max-width: 768px) {
  .img-text {
    left: 19%;
    font-size: 28px;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;

    a {
      width: 53%;
    }
  }
  .header-container {
    nav {
      ul {
        font-size: 18px;
      }
    }

    .header-logo {
      font-size: 47px;
      @media screen and (max-width: 928px) {
        .cards-wrapper {
          margin-left: 0;
        }
      }
    }
    .fa-chevron-left,
    .fa-chevron-right {
      font-size: 28px;
      top: 128px;
    }
  }

  .collapse-bg {
    height: 178px;
  }
  .collapse-about {
    gap: 0;
  }
  .img-overlay {
    height: 120px;
    border-radius: 15px;
    img {
      height: 120px;
    }
  }

  .top-wrapper {
    flex-direction: column;
  }

  .top-host__container {
    width: 100%;
    flex-direction: row-reverse !important;
    justify-content: space-between;
  }

  .collapse {
    padding: 0.5rem;
  }

  .collapse-title {
    font-size: 16px;
  }

  .collapse-logement {
    gap: 0;
    flex-direction: column;
  }

  .log-title {
    font-size: 28px;
  }

  .log-location {
    font-size: 16px;
  }

  .log-tags__wrapper {
    .log-tag {
      font-size: 14px;
    }
  }

  .log-host-name {
    font-size: 18px;
  }

  .log-rating__wrapper {
    .clr-on,
    .clr-off {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 425px) {
  .log-host-name {
    margin-left: 1em;
  }
  .log-rating__wrapper {
    gap: 0.7em;
  }
}
